.layout {
  display: grid;
  grid-template-columns: 250px 1fr; /* Sidebar y contenido principal */
  height: 100vh;
}



.content {
  padding: 1rem;
  overflow-y: auto; /* Añade barra de desplazamiento si es necesario */
}
/* EliminarSwitch.css */

/* Estilo para la etiqueta del switch */
.switch-label {
  margin-right: 10px;
  font-weight: bold;
}

/* Estilo personalizado para el switch */
.custom-switch .form-check-input {
  background-color: #007bff; /* Color del switch activado */
  border-color: #007bff; /* Color del borde del switch activado */
}

.custom-switch .form-check-input:checked {
  background-color: #007bff; /* Color de fondo cuando está activado */
  border-color: #007bff; /* Color del borde cuando está activado */
}

.custom-switch .form-check-input:focus {
  box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .5); /* Efecto de foco */
}

.custom-switch .form-check-label {
  color: #333; /* Color del texto del switch */
}



.card {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card-img-top {
  height: 200px;
  object-fit: cover;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-weight: bold;
  font-size: 18px;
}

.card-text {
  font-size: 16px;
}

.form-control {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input[type="text"]:focus {
  border-color: #007bff;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.25);
}

.hover-card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.mx-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.pagination-container {
  justify-content: center;
  display: flex;
  margin-top: 20px;
}

.pagination-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pagination-container li {
  display: inline-block;
  margin-right: 10px;
}

.pagination-container a {
  text-decoration: none;
  color: #337ab7;
}

.pagination-container .active a {
  color: #23527c;
}