* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.app-container {
  padding-top: 56px; /* Ajusta este valor según la altura de tu Navbar */
}
/* Temas */
body.light-theme {
  --background-color: #ffffff;
  --text-color: #000000;
  --sidebar-bg-color: #f8f9fa;
  --navbar-bg-color: #f8f9fa;
  --sidebar-hover-color: #e9ecef;
}

body.dark-theme {
  --background-color: #343a40;
  --text-color: #ffffff;
  --sidebar-bg-color: #212529;
  --navbar-bg-color: #212529;
  --sidebar-hover-color: #495057;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
}

/* Navegación */
.navbar {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: var(--navbar-bg-color);
  padding: 0.5rem 1rem;
  transition: margin-left 0.3s ease;
}

.collapsed-navbar {
  margin-left: 80px;
}

.expanded-navbar {
  margin-left: 256px;
}

.navbar .nav-link {
  font-size: 18px;
  padding: 8px 15px;
  color: var(--text-color);
  transition: color 0.3s ease;
}

.navbar .nav-link:hover {
  color: #007bff;
  text-decoration: underline;
}

/* Botones de Navegación */
.nav-buttons .btn {
  font-size: 0.9rem;
  padding: 0.4rem 1.5rem;
  border: none;
  transition: all 0.3s ease;
}

.nav-buttons .btn-primary {
  background-color: #007bff;
}

.nav-buttons .btn-secondary {
  background-color: #6c757d;
}

.nav-buttons .btn:hover {
  opacity: 0.8;
}

/* Estilos de Contenedores */
.containers {
  margin-right: 250px;
  transition: margin-left 0.3s ease;
}

.container-collapsed {
  transition: margin-left 0.3s ease, width 0.3s ease;
}

/* Estilos de Navbar Colapsado y Expandido */
.collapsed-navbar {
  margin-left: 80px;
  transition: margin-left 0.3s ease;
}

.expanded-navbar {
  margin-left: 250px;
  transition: margin-left 0.3s ease;
}

/* Media Queries para Dispositivos Móviles */
@media (max-width: 992px) {
  .navbar .container {
    flex-wrap: wrap;
  }

  .nav-links {
    margin-top: 0.5rem;
  }

  .nav-buttons {
    margin-top: 0.5rem;
  }
}
.main-content {
  padding: 20px;
  background-color: #f0f2f5;
  min-height: 100vh;
}
