/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Temas */
body.light-theme {
  --background-color: #ffffff;
  --text-color: #000000;
  --sidebar-bg-color: #f8f9fa;
  --navbar-bg-color: #f8f9fa;
  --sidebar-hover-color: #e9ecef;
}

body.dark-theme {
  --background-color: #343a40;
  --text-color: #ffffff;
  --sidebar-bg-color: #212529;
  --navbar-bg-color: #212529;
  --sidebar-hover-color: #495057;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}





/* Estilo para la navbar */
.navbar {
  background-color: var(--navbar-bg-color);
  height: 50px;
  border-bottom: 1px solid #ccc;
  position: fixed;
  width: 30%;
  right: 100px;
  z-index: 1001;
  transition: left 0.3s ease, width 0.3s ease, background-color 0.3s ease;
  color: var(--text-color);
  
}

.container {
  margin-left: 20px; /* Ancho del Sidebar desplegado */
  transition: margin-left 0.3s ease;
  margin-right: 900px;
  
}

/* Estilo del contenedor principal cuando el Sidebar está contraído */
.container-collapsed {
  transition: margin-left 0.3s ease, width 0.3s ease;
}



.contenedores{

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 800px;
}