/* Estilo general del Sidebar */
.ant-layout-sider {
    transition: all 0.3s ease;
    background-color: #001529;
    z-index: 1000; /* Asegúrate de que esté por encima del contenido */
}

/* Contenedor del contenido del sidebar */
.sidebar-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Coloca el botón de alternar en la parte inferior */
    height: 100%;
}

/* Menú de navegación */
.ant-menu {
    flex-grow: 1; /* El menú crece para ocupar el espacio disponible */
    overflow-y: auto; /* Permite el scroll en el menú si es necesario */
}

/* Estilo del botón de alternar del Sidebar */
.menu-toggle {
    cursor: pointer;
    padding: 16px;
    text-align: center;
    background-color: #001529;
    color: #fff;
    border: none;
    position: absolute;
    bottom: 0; /* Coloca el botón en la parte inferior */
    width: 100%; /* Asegura que el botón ocupe todo el ancho del Sidebar */
}

/* Estilo cuando el Sidebar está contraído */
.ant-layout-sider.ant-layout-sider-collapsed {
    width: 80px; /* Ancho del Sidebar cuando está contraído */
}
